/*THE HEADER*/
.fixed-header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
}
nav{
    background-color: #143b55;
    color: White;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:100%;
}
li{
    display: inline-block; 
    margin-top:3px;
    margin-bottom:3px;
}

a{
    color: seashell;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    margin-right: 50px;
}
/*HEADER COMPLETION*/

.container0{
    margin: 0 auto;
    width: 100%;
    background-color: #e9f7f7;
}

h2{
    color: #fff;
    background-color: #143b55;
    opacity: 0.95;
    font-size: 4.2vmin ;
    padding: 5px 30px;
    right: 57%;
    border-radius: 10px;
    margin-top: -10px;
}

h5{
    /**text-align: right;
    margin: 40px;
    padding: 5px 30px;
    font-size: 37px;
    color: #003366;**/
    
    color: #143b55;
    padding: 5px 30px;
    text-align: right;
    font-size: 28px;
    margin-top: 40px;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
}

h4{
    position: absolute;
    color: #fff;
    padding: 5px 30px;
    background-color: #143b55;
    left: 50%;
    font-size: 28px;
    margin-top: 40px;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
}

.container1{
    margin: 0 auto;
    width: 100%;
    background-color: #e9f7f7;
}

.container2{
    margin: 0 auto;
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    text-align: center;
    background-color: #feffff; /*rgb(252, 239, 224);*/
}

.circle{
    color: #fff;
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 275px;
    border-top-left-radius: 275px;
    border-bottom-right-radius: 275px;
    border-bottom-left-radius: 275px;
    background-color: #143b55;
    text-align: center;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 20px;
    z-index: 1000;
}

.circle h3{
    font-size:2.3rem;
    padding: 95px 20px;
    margin-top: 0px;
    z-index: 1000;
    z-index: 10;
    color: seashell;
}

.work{
    float:left;
    width:50%;
}

.work-left{
    float:left;
    width:50%;
    border-right: 2px#143b55 solid;
}

.clearfix{
    clear: both;
}

.work-right{
    float:right;
    width:50%;
    border-left: 2px #143b55 solid;
}

.inside-container{
    margin: 0 auto;
    width: 60%;
}

footer {
    background-color: #143b55;
    padding: 0 1rem;
  }
  
.footcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0;
    color: white;
  }

  @media only screen and (max-width: 470px){
    a{
        font-size: 16px;
        padding: 0.75rem 1rem;
        margin-right: 2px;
        margin-top:2px;
    }

    ul{
        padding: 0% 0%;
    }
   
  }