/*THE HEADER*/
.fixed-header{
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
}
nav{
    height: 70px;
    background-color: black;
    color: White;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    width: 100%;
    height:100%;
}
li{
    color: : seashell;
    display: inline-block; 
    padding: 0.75rem 1.25rem;
    padding-right: 50px;
}
a{
    color: seashell;
    text-decoration: none;
}
/*HEADER COMPLETION*/

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    text-align: center;
    background-color: rgb(252, 239, 224);
    opacity: 0.7;
}


.circle{
    color: #fff;
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 275px;
    border-top-left-radius: 275px;
    border-bottom-right-radius: 275px;
    border-bottom-left-radius: 275px;
    background-color: #003366;
    text-align: center;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 20px;
}

.circle h3{
    font-size:2rem;
    padding: 95px 20px;
    margin-top: 0px;
}

.line{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Regular_polygon_2_vertex_animation.svg/520px-Regular_polygon_2_vertex_animation.svg.png");
    background-position: center center;
    background-repeat: repeat-y;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 52%;
    margin-left: -1px;
    position: absolute;
}

.section2{
    width: 1200px;
    height: 700px;
    margin: auto auto;
    background-color: #fff;
}

.Month h1{
    white-space: nowrap;
    position: absolute;
    right: 50%;
    padding: 0px 30px;
    font-size: 48px;
    color: #003366;
}

.Box{
    position: absolute;
    color: #fff;
    padding: 5px 30px;
    background-color: #003366;
    left: 50%;
    font-size: 28px;
    margin-top: 40px;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
}

.dot1{
    position: absolute;
    right: 50%;
    margin-top: 140px;
    margin-right: -14px;
    width: 28px;
    height: 28px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    background-color: #003366;
    display: block;
}

.head-left{
    position: absolute;
    color: #fff;
    right: 55%;
    padding: 0px 30px;
    background-color: #003366;
    font-size: 38px;
    margin-top: 125px;
    margin-right: 10%;
    height: 7%;
    width: 10%;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
}

/*h2是左邊*/
h2{
    color: #fff;
    background-color: #003366;
    font-size: 4.2vmin ;
    padding: 5px 30px;
    position: absolute;
    right: 67%;
}
/*h6是右邊*/
h6{
    color: #fff;
    background-color: #003366;
    font-size: 4.2vmin ;
    padding: 5px 30px;
    position: absolute;
    left: 65%;
}
#L1{
    top: 550px;
}

/*h4是paragragh的右邊*/
h4 {
    border: 1px dotted black;
    position: absolute;
    color: black;
    right: 55%;
    margin-right:5%;
    padding: 0px 30px;
    font-size: 20px;
    
    height: 25%;
    width: 20%;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
    word-wrap:break-word;
    overflow: hidden;
}

#PL1{margin-top: 200px;}

.dot2{
    position: absolute;
    right: 50%;
    margin-top: 340px;
    margin-right: -14px;
    width: 28px;
    height: 28px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    background-color: #003366;
    display: block;
}

#R1{top:700px;}

/*h5是paragragh的右邊*/
h5{
    border: 1px dotted black;
    position: absolute;
    color: black;
    left: 60%;
    margin-left:4%;
    padding: 0px 30px;
    font-size: 20px;
    
    height: 25%;
    width: 20%;
    font-family: "robotolight", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
    word-wrap:break-word;
    overflow: hidden;
}

#PR1{top:820px;}
