.fixed-header{
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
}

nav{
    height: 70px;
    background-color: black;
    color: White;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    width: 100%;
    height:100%;
}

li{
    color: :seashell;
    display: inline-block; 
    padding: 0.75rem 1.25rem;
}

a{
    color: seashell;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.7;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0e/Hong_Kong_Island_Skyline_2009.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section1{
    width: 1200px;
    height: 400px;
    background-color: bisque;
    margin: 150px auto;
    
}

.section1 h1{
    opacity: 1;
    box-sizing: content-box;
    height: 50px;
}

.section2{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: white;
}

.section2 h1{
    font-size: 10rem;
    opacity: 1;
}